.header{
    width: 100%;
    padding: 2rem 0;
    background-color: $green;
    background-image: url('./../../assets/gramado.jpg');
    background-size: cover;
    background-position: center;
    display: inline-block;
}